/*
 * CSS Table styles pmCake src: https://github.com/zpartakov/pmCake
 *
*/

/* tables */

div.table {
display:table;
/* Joindre les bords des cellules */
border-collapse:collapse;
/* Forcer le tableau à prendre la largeur écran */
width:100%;
}
div.caption {
        /* Ffox n'affiche pas le caption dans la table il faut le déclarer bloc */
        display:block;
        /* Si déclaré bloc, lui donner la largeur des td cumulés */
        width:400%; /* 100 % x 4 colonnes */
        /* Aligner le titre au centre */
        text-align:center;
}
        /* tbody optionnel */

div.tbody {
        display:table-row-group;
}
div.tr {
        display:table-row;
}
div.td {
        display:table-cell;
        border:thin solid grey;
        padding:5px;
        width:24.5%;
}
div.end {
width:auto;
order:thin solid grey;
}

/* forms */

.submitR {
position: relative;
float: right;
top: -100px;
}

/* the search button*/
.btnCherche {
position: relative;
left: 200px;
top: -23px;
font-size: .8em;
}

div.auto_complete {
     position :absolute;
     width :250px;
     background-color :white;
     border :1px solid #888;
     margin :0px;
     padding :0px;
}

li.selected { background-color: #ffb; }

/* LOCAL VALUES */

/* a class for displaying time of calc page */

.exectime {
position: relative;
bottom: 15px;
left: 15px;
font-size:xx-small;
font-style: italic;
color: #4D4D4D;
/*margin-right: 20px;
float: right;*/
}

/* add time to task */
.add_time {
position: absolute;
right: 53px;
top: 43px;
background-color: #FFFFE0;
}
.add_time_view {
position: absolute;
left: 50%;
top: 123px;
background-color: #FFFFE0;
}
/* js calendar */
.calendrierjs {
position: relative;
top: -43px;
left: 175px;
}

/* smaller font */
.petit {
font-size: .9em;
}

/*hide dot for <li> tag*/
.puce_cache {
list-style-type: none;
}

/* projects bg select list highlight categories */
.projet_sel {
background-color: #fff
}
.projet_sel:before {
content:url(/pmcake/img/icons/logounige.jpg);
padding-right: 5px;
}

.projet_sel_perso {
background-color: #FFD689;
}

.projet_sel_perso:before {
content:url(/pmcake/img/icons/redstar.png);
padding-right: 5px;
 }

.outils {
padding-left: 10px;
}
.outils:after {
content:url(/pmcake/img/icons/toolsmall.png);
padding-left: 5px;
 }

/* autocomplete */
.globalsearch {
position: absolute;
right: 10%;
top: 2px;
color: black;
/*background: #204c58;
z-index: 499;*/
 background: #FFF9CF;
  height: 45px;
}
.boolean_search {
background: #FFF9CF; height: 45px; position: relative; top: 17px; left: -100px
}
.autofill {
position: absolute;
right: 10%;
top: 20px;
width: 400px;
background: #204c58;
z-index: 499;
}

.suggestionsBox {
position: absolute;
left: 10px;
}
.suggestionList {
}
.autofilltask {
}
.suggestionList li {
padding: 3px;
cursor: pointer;
list-style-type: none;
}
.suggestionList li:hover {
background-color: #659CD8;
}
.projet_autofill {
padding: 2px;
}
.projet_autofillR {
	color: white;
}


/* footer */
.tablepied {
text-align: center;
}

/* form submit button */
.enregistrer {
position: absolute;
top: 7%;
right: 10%;
}

/* page's title */
.titre {
margin-bottom: 1em;
width: 100%;
border-style: outset;
font-size: larger;
background-color: #FFA500;
color: black;
padding: 3px;
}

/* checkbox click task done */
.taskok {
display: block;
width: 5px;
/*border-style: outset;
position: relative;
left: 90%;
background-color: red;
border: 2px inset ThreeDFace;
height: 5px;*/
  }
.taskok:after {
/* content: 'ok?';
padding-left: 3px;*/
}
.multicol2 {
-moz-column-count:2
}
.multicol3 {
-moz-column-count:3
}
.multicol4 {
-moz-column-count:4
}


.obsoletelogins form input[type=text], .patchadmins form input[type=text]{
/*color: red;*/
position: absolute;
left: 250px;
width: 200px;
}
 .obsoletelogins form textarea, .patchadmins form textarea {
/*color: red;*/
position: absolute;
left: 250px;
width: 600px;
height: 50px;
margin-top: -10px;
}

.wait {
font-style: italic;
/*font-size: 10px;
color: lightgreen;*/
opacity:0.6;
filter:alpha(opacity=40); /* For IE8 and earlier */
}

#showdetailtaskhours {
/* a class for displaying detail hours spent on a task */
padding: 5px;
position: relative;
top: 10px;
left: 30px;
font-size: smaller;
background-color: #FFE4B3;
width: 100px;
}

.random_list_todos {
	background-color: #D6EEF6;
	padding: 10px;
	margin-bottom: 10px;
}

/* highlight homepage task's titles */
/* html > body > div#container > div#content > div#prof > form#prof > table > tbody > tr > td > a.tooltip > div */
div#container > div#content > div > form > table > tbody > tr > td > a.tooltip > div
{
	font-size: 1.1em
}

.tdnumeric {
padding: 5px;
text-align: right;
margin-left: 10px;
}
