/* PRINT CSS */

* {
	margin:0;
	padding:0;
}

/** General Style Info **/
body {
	background: #003d4c;
	color: #fff;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 2%;
}

textarea {
           display: block;
    height: 100%; /** this should now expand the .textarea div to whatever the required height of the TextArea element is */
    width: 150%; /** To match the above example */

}
/*div classes to hide on printing */
#leftnav, #header, #footer, .retour, #cakephp-global-navigation, .exectime, .actions, .globalsearch, .project_view_actions, .oktask, .zactions, .imprimepas, .add_time, .add_time_view, .delays, #topcontrol, .fichiers {
display: none;
}

/* put too much mess! */
/*a:link:after {
   content: " (" attr(href) ") ";
   font-size: 50%;
   font-color: #4D4D4D;
   }
*/
