/* css for displaying tooltip - infobulles, see functions.php */
a.tooltip em {
    display:none;
}
a.tooltip:hover {
    border: 0;
    position: relative;
    text-decoration:none;
}
a.tooltip:hover em {
    z-index: 500;
    font-style: normal;
    display: block;
    position: absolute;
    top: 30px;
    left: 100px;
    padding: 15px;
    color: #000;
    border: 1px solid #bbb;
    background: #ffc;
    width:500px;
    -moz-border-radius : 2em 1em; -webkit-border-radius : 2em 1em;
}
a.tooltip:hover em span {
    position: absolute;
    top: -7px;
    left: 15px;
    height: 7px;
    width: 11px;
   /* background: transparent;*/
    margin:0;
    padding: 0;
    border: 0;
}